<nav>
    <ul>
        <li><a mat-button routerLink="home" color="primary">{{ "inicio" | translate }}</a></li>
        <li><a mat-button routerLink="recipe" color="primary">{{ "recetas" | translate }}</a></li>
        <li><a mat-button routerLink="ingredient" color="primary">{{ "ingredientes" | translate }}</a></li>
        <li><a mat-button routerLink="register" color="accent">{{ "registro" | translate }}</a></li>
        <li><app-language-switcher></app-language-switcher></li>
    </ul>
</nav>