.recipe {
    max-width: 600px;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--bg-primary-so);
}

.recipe:hover {
    background-color: var(--bg-primary);
}

.header {
    background-image: url('/assets/img/user.webp');
    background-size: cover;
}

h1 {
    font-size: clamp(28px, 5vw, 50px);
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
button{
    margin: 1rem;
}